<h1>Your Jobs</h1>
<button onclick="window.location='/jobs'" class="btn btn-primary">
  View all jobs
</button>
<% if user_signed_in? %>
  <button onclick="window.location='/jobs/new'" class="btn btn-primary">
    Add new job
  </button>
<% end %>
<p id="notice"><%= notice %></p>

<% @jobs.each do |job| %>
<div class="card cstm-card" style="width: 30%; float: left; margin: 5px;">
  <img src="https://i.imgur.com/vCTar9J.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= job.title %></h5>
    <p class="card-text" style="white-space: nowrap;"><%= job.body[0..35] %><%= job.body.length > 35 ? '...' : '' %></p>
    <hr style="border-top: 1px solid #444;" />
    <button style="float:right; margin-left: 10px" onclick="window.location = 'jobs/applicatns/<%= job.id %>'" class="btn btn-primary">Applicatns</button>
    <%= link_to 'Edit', edit_job_path(job), class:'btn btn-primary text-white' %>
    <%= link_to 'Details', job, class:'btn btn-dark text-white' %>
    <%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger text-white' %>
  </div>
</div>
<% end %>

<br style="clear: both">
