<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @applicant.User %>
</p>

<p>
  <strong>Job:</strong>
  <%= @applicant.Job %>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
