<h2 style="float: left">Candidates for: <%= @job.title %></h2>
<button class="btn btn-dark" onclick="history.go(-1);" style="float:right"><i class="fa fa-backward" aria-hidden="true"></i> Back</button>
<hr style="clear:both"/>
<% if @candidates.length > 0 %>
    <table class="table" style="border-radius: 10px; width: calc(100vw - 450px);">
    <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Full name</th>
        <th scope="col">Gmail</th>
        <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody style="background: #eeeeee99">
        <% @candidates.each_with_index do |candidate, index| %>
            <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= candidate.user.name %></td>
                <td><%= candidate.user.email %></td>
                <td><%= candidate.updated_at.strftime('%m/%d/%Y') %></td>
            </tr>
        <% end %>
    </tbody>
    </table>
<% else %>
    <h2 class="text-white">No Applicatns yet</h2>
<% end %>
