<h2 style="float: left">Candidates for: <%= @job.title %></h2>
<button class="btn btn-dark" onclick="history.go(-1);" style="float:right"><i class="fa fa-backward" aria-hidden="true"></i> Back</button>
<hr style="clear:both"/>
<% if @candidates.length > 0 %>
    <table class="table" style="border-radius: 10px; width: calc(100vw - 450px);">
    <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Full name</th>
        <th scope="col">Gmail</th>
        <th scope="col">Date</th>
        <th scrope="col">biography</th>
        </tr>
    </thead>
    <tbody style="background: #eeeeee99">
        <% @candidates.each_with_index do |candidate, index| %>
            <tr onclick="window.location = '/profile/<%= candidate.user.id %>'">
                <th scope="row"><buton onclick="winodw.location = `jobs/`">+</button></th>
                <td><%= candidate.user.name %></td>
                <td><%= candidate.user.email %></td>
                <td><%= candidate.updated_at.strftime('%m/%d/%Y') %></td>
                <td>
                <% if candidate.user.biography.length > 1 %>
                    <a href="<%= candidate.user.biography %>"><i class="fa fa-file-text" aria-hidden="true"></i> Download biography</a>
                <% else %>
                    User doens't have a biography!
                <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
    </table>
<% else %>
    <h2 class="text-white">No Applicatns yet</h2>
<% end %>

<style>
    tr:hover {
        background: #fff;
        cursor:pointer;
    }
</style>
