<div ng-app="myApp" ng-controller="myCtrl" style="width: 100%">
    <%= form_with(model: job, local: true) do |form| %>
    <% if job.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

        <ul>
        <% job.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

        <div class="form-group field" style="width: 80%">
            <%= form.label :title %>
            <%= form.text_field :title, id: :job_title, class:"form-control" %>
        </div>

        <div class="form-group field" style="width: 80%">
            <%= form.label :body %>
            <%= form.text_area :body, id: :job_body, class:"form-control", :id => "txtarea" %>
            <script>CKEDITOR.replace( 'txtarea' );</script>
        </div>

        <div class="form-group field" style="width: 80%">
            <%= form.label :"Salary per month" %>
            <%= form.text_field :salary, id: :job_title, class:"form-control" %>
            
        </div>
        
        <div class="form-group" style="width: 80%">
            <%= form.label :Area %>
            <%= form.select(:area_id, Area.all.collect {|u| [u.title, u.id]}, { :include_blank => false },  {:class => 'form-control'}) %>
        </div>

        <div class="form-group" style="width: 80%">
            <%= form.label :Location %>
            <%= form.select(:location_id, Location.all.collect {|u| [u.title, u.id]}, { :include_blank => false },  {:class => 'form-control'}) %>
        </div>

        <div class="form-group">
            <%= form.label :"Upload Image" %>
            <%= form.file_field :attachment %>
        </div>

        <div ng-if="isNew()" style="margin-left: 20px">
            <h2>Additional questions</h2>
            <hr/>
            <ul class="list-group">
                <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                    ng-repeat="item in questions track by $index">
                    {{ item }}
                    <button ng-click="delQuestion($index)" class="btn btn-danger">&times;</button>
                </li>
            </ul>
            <br>
            <div class="row">
                <div class="col-6">
                <input placeholder="Write a question..." class="form-control" id="question" />
                </div>
                <div class="col-3">
                    <button ng-click="addQuestion()" class="btn btn-primary">Add Question</button>
                </div>
            </div>
            
            <hr/>
        </div>

        <br><br><br>

        <script>
            let app = angular.module("myApp", []);
            app.controller("myCtrl", [
                "$scope",
                "$window",
                function ($scope, $window) {

                    $scope.questions = [];

                    $scope.addQuestion = function() {
                        debugger;
                        window.event.preventDefault();
                        $scope.questions.push(document.getElementById('question').value);
                        document.getElementById('question').value = "";
                    };

                    $scope.delQuestion = function(index) {
                        window.event.preventDefault();
                        $scope.questions.splice(index, 1);
                    };

                    $scope.submitForm = function() {
                        window.event.preventDefault();
                        let _form = $("form").serializeArray();
                        _form.push({ name: "job[questions]", value: $scope.questions });
                        let resultForm = {};
                        for(let item of _form) {
                            resultForm[item.name] = item.value
                        }
                        $.post("/jobs", resultForm);
                    };

                    $scope.isNew = function() {
                        return window.location.href.includes('new');
                    }
                }
            ]);
        </script>

        <div class="actions">
            <button ng-click="submitForm()" class="btn btn-primary" ng-if="isNew()">Add New Job</button>
            <div ng-if="!isNew()">
                <%= form.submit 'Sumbit', :class => 'btn btn-primary' %>
            </div>
        </div>
    <% end %>
</div>
