<div style="width: 100%">
    <%= form_with(model: job, local: true) do |form| %>
    <% if job.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

        <ul>
        <% job.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

        <div class="form-group field" style="width: 80%">
            <%= form.label :title %>
            <%= form.text_field :title, id: :job_title, class:"form-control" %>
        </div>

        <div class="form-group field" style="width: 80%">
            <%= form.label :body %>
            <%= form.text_area :body, id: :job_body, class:"form-control", :id => "txtarea" %>
            <script>CKEDITOR.replace( 'txtarea' );</script>
        </div>

        <div class="form-group field" style="width: 80%">
            <%= form.label :"Salary per month" %>
            <%= form.text_field :salary, id: :job_title, class:"form-control" %>
            
        </div>
        
        <div class="form-group" style="width: 80%">
            <%= form.label :Area %>
            <%= form.select(:area_id, Area.all.collect {|u| [u.title, u.id]}, { :include_blank => false },  {:class => 'form-control'}) %>
        </div>

        <div class="form-group" style="width: 80%">
            <%= form.label :Location %>
            <%= form.select(:location_id, Location.all.collect {|u| [u.title, u.id]}, { :include_blank => false },  {:class => 'form-control'}) %>
        </div>

        <div class="form-group">
            <%= form.label :"Upload Image" %>
            <%= form.file_field :attachment %>
        </div>

        <div class="actions">
            <%= form.submit 'Sumbit', :class => 'btn btn-primary' %>
        </div>
    <% end %>
</div>
