<h1 style="margin-left: 10px">Jobs</h1>

<p id="notice"><%= notice %></p>

<div class="container" style="width: 100%; margin: 0 !important">
  <div class="row" style="width: 100%">
    <div class="col-sm">
        <div style="float: left" class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Jobs" id="filtr" />
        <div class="input-group-prepend">
        <button class="btn btn-primary" onclick='window.location = `?filter=${document.getElementById("filtr").value}`' id="basic-addon1">Search</button>
        </div>
    </div>
    </div>
    <div class="col col-lg-2">
    <div class="btn-group dropright" style="width: 100%">
    <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      style="width: 100%"
    >
      Sort By
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="?o=date&t=asc">Date | ASC</a>
      <a class="dropdown-item" href="?o=date&t=desc">Date | DESC</a>
      <a class="dropdown-item" href="?o=salary&t=asc">Salary | ASC</a>
      <a class="dropdown-item" href="?o=salary&t=desc">Salary | DESC</a>
      <a class="dropdown-item" href="?o=alph&t=asc">Alphabetical | ASC</a>
      <a class="dropdown-item" href="?o=alph&t=desc">Alphabetical | DESC</a>
    </div>
  </div>
    </div>
  </div>
</div>



<br style="clear:both"/>

<% @jobs.each do |job| %>
<div class="card cstm-card" style="width: 30%; float: left; margin: 7px">
  <%= image_tag job.attachment,
    :class => "card-img-top",
    :style => "height: 13vw; object-fit: cover;", 
    :onerror => "this.src='https://mobileappszone.com/wp-content/uploads/2019/10/software-developer.jpg'" 
  %>
  <div class="card-body">
    <h5 class="card-title"><%= job.title %></h5>
    <p class="card-text" style="white-space: nowrap;"><%= job.body[0..35] %><%= job.body.length > 35 ? '...' : '' %></p>
    <hr style="border-top: 1px solid #444;" />
    <p class="card-text">
        <i class="fa fa-user" aria-hidden="true"></i> Owner: <b><%= job.user.name %></b><br/>
        <i class="fa fa-calendar-o" aria-hidden="true"></i> Upload: <b><%= job.created_at.strftime('%m/%d/%Y') %></b><br/>
        <i class="fa fa-calendar-o" aria-hidden="true"></i> Updated: <b><%= job.updated_at.strftime('%m/%d/%Y') %></b><br/>
        <i class="fa fa-map-marker" aria-hidden="true"></i> Location: <b><%= job.location.title + " " + job.location.postcode  %></b><br/>
        <i class="fa fa-briefcase" aria-hidden="true"></i> Area of experties: <b><%= job.area.title %></b><br/>
        <i class="fa fa-money" aria-hidden="true"></i> Salary estime: <b><%= job.salary %>€</b>
    </p>
    <hr style="border-top: 1px solid #444;" />
    <% if current_user %>
        <% if !current_user.company && !@applied.include?(job.id) %>
            <button style="float:right; margin-left: 10px" onclick="Apply('<%= job.id %>')" class="btn btn-primary">Apply</button>
        <% end %>
        <% if @applied.include?(job.id) %>
            <span style="color: #a44">You applied for the job!</span>
        <% end %> 
    <% end %>
    <%= link_to 'Details', job, class:'btn btn-dark text-white', style:"float:right" %>
  </div>
</div>
<% end %>

<script>
  function Apply(_id) {
    fetch(`/apply?id=${_id}`).then(response => response.json()).then(result => {
        if(result.success) {
            swal("Succesfully applied for the job", ".....", "success").then(() => location.reload());
        } else {
            swal({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong!',
            }).then(() => location.reload());
        }
        
    })
  }
</script>

<br style="clear: both">
