<h1>Jobs</h1>

<p id="notice"><%= notice %></p>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Jobs">
  <div class="input-group-prepend">
    <button class="btn btn-secondary" id="basic-addon1">Search</button>
  </div>
</div>

<div class="btn-group dropleft" style="float: right">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort By
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Date | ASC</a>
    <a class="dropdown-item" href="#">Date | DESC</a>
    <a class="dropdown-item" href="#">Alphabetical | ASC</a>
    <a class="dropdown-item" href="#">Alphabetical | DESC</a>
  </div>
</div>

<br style="clear:both"/>

<% @jobs.each do |job| %>
<div class="card" style="width: 30%; float: left; margin: 5px">
  <img src="https://i.imgur.com/vCTar9J.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= job.title %></h5>
    <p class="card-text"><%= job.body %></p>
    <%= link_to 'Edit', edit_job_path(job), class:'btn btn-primary text-white' %>
    <%= link_to 'Details', job, class:'btn btn-dark text-white' %>
    <%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger text-white' %>
  </div>
</div>
<% end %>

<br style="clear: both">

<%= link_to 'New Job', new_job_path %>
