<p id="notice"><%= notice %></p>

<div class="card mb-3" >
  <div class="row no-gutters">
    <div class="col-md-5">
        <%= image_tag @job.attachment, 
            :style => "height: 450px; width: 450px; object-fit: cover;", 
            :onerror => "this.src='https://mobileappszone.com/wp-content/uploads/2019/10/software-developer.jpg'" 
        %>
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title"><%= @job.title %></h5>
        <hr/>
        <p class="card-text"><%= raw @job.body %></p>
        <hr/>
        <i class="fa fa-user" aria-hidden="true"></i> Owner: <b><%= @job.user.name %></b><br/>
        <i class="fa fa-calendar-o" aria-hidden="true"></i> Upload: <b><%= @job.created_at.strftime('%m/%d/%Y') %></b><br/>
        <i class="fa fa-calendar-o" aria-hidden="true"></i> Updated: <b><%= @job.updated_at.strftime('%m/%d/%Y') %></b><br/>
        <i class="fa fa-map-marker" aria-hidden="true"></i> Location: <b><%= @job.location.title + " " + @job.location.postcode  %></b><br/>
        <i class="fa fa-briefcase" aria-hidden="true"></i> Area of experties: <b><%= @job.area.title %></b><br/>
        <i class="fa fa-money" aria-hidden="true"></i> Salary estime: <b><%= @job.salary %>€</b>
        <hr/>
        <% @questions.each do |question| %>
            <%= question["body"] %><br>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="btn-group" role="group">
    <%= link_to(jobs_path, class:"btn btn-dark text-white") do %>
        <i class="fa fa-backward" aria-hidden="true"></i> Back
    <% end %>
</div>



