<div ng-app="myApp" ng-controller="myCtrl" style="width: 100%">
  <%= form_with(model: candidate, local: true) do |form| %>
    <% if candidate.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

        <ul>
        <% candidate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= hidden_field(:candidate, :job_id, :value => params[:id]) %>
      <%= hidden_field(:candidate, :user_id, :value => current_user.id) %>

        <div class="form-group" style="width: 80%">
          <%= form.label :"Write some of your experience in this field!" %>
          <%= form.text_area :expreties, class:"form-control", :id => "txtarea" %>
          <script>CKEDITOR.replace( 'txtarea' );</script>
        </div>

        <% @questions.each do |question, index| %>
            <div class="form-group" style="width: 80%">
                <label><%= question["body"] %><br></label>
                <%= form.text_area :question, class:"form-control form-answer", id:question["id"] %>
            </div>
        <% end %>

        <div class="actions">
            <button class='btn btn-primary' ng-click="submit()">Apply</button>
        </div>

  <script>
            let app = angular.module("myApp", []);
            app.controller("myCtrl", [
                "$scope",
                "$window",
                function ($scope, $window) {
                    $scope.submit = function() {
                        window.event.preventDefault();
                        let formAnswers = [];
                        $(".form-answer").each(function() { 
                            formAnswers.push({
                                question_id: this.id,
                                body: this.value
                            });
                        });
                        let _form = $("form").serializeArray().slice(0,5);
                        _form.push({
                            "name": "candidate[answers]", 
                            "value": JSON.stringify(formAnswers) 
                        });

                        $.post("/candidates", _form);
                    }
                }
            ]);
        </script>
  <% end %>
</div>
