<div style="width: 100%">
  <%= form_with(model: candidate, local: true) do |form| %>
    <% if candidate.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

        <ul>
        <% candidate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= hidden_field(:candidate, :job_id, :value => params[:id]) %>
      <%= hidden_field(:candidate, :user_id, :value => current_user.id) %>

        <div class="form-group" style="width: 80%">
          <%= form.label :"Write some of your experience in this field!" %>
          <%= form.text_area :expreties, class:"form-control", :id => "txtarea" %>
          <script>CKEDITOR.replace( 'txtarea' );</script>
        </div>

        <% @questions.each do |question| %>
            <div class="form-group" style="width: 80%">
                <label><%= question["body"] %><br></label>
                <%= form.text_area :expreties, class:"form-control" %>
            </div>
        <% end %>

        <div class="actions">
          <%= form.submit 'Apply for the job', :class => 'btn btn-primary' %>
        </div>
  <% end %>
</div>
