<% unless current_page?(root_path) %>
  <div class="nav-side-menu">
      <div class="brand"><img src="https://i.imgur.com/VEnjDM4.png" height="100%" width="100%" /></div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <li>
      <i class="fa fa-home" aria-hidden="true"></i>
      <a href="/">
        Home
      </a>
    </li>A
    <li>
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        <a href="/jobs">
         Jobs
       </a>
      
  </li>   
  <% if user_signed_in? %>
  <li>
  <i class="fa fa-pencil" aria-hidden="true"></i>
  <%= link_to(current_user.email, edit_user_registration_path) %>
  </li>
  <li>
  <i class="fa fa-sign-in" aria-hidden="true"></i>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
  <% else %>
  <li>
  <i class="fa fa-sign-in" aria-hidden="true"></i>
  <%= link_to('Login', new_user_session_path) %>  
  </li>
  <li>
  <i class="fa fa-sign-in" aria-hidden="true"></i>
  <%= link_to('Register', new_user_registration_path) %>
  </li>
  <% end %>
              </ul>
      </div>
  </div>
<% end %>
<% if current_user %>
    <% if current_user.company %>
      <div class="nav-side-menu">
      <div class="brand"><img src="https://i.imgur.com/VEnjDM4.png" height="100%" width="100%" /></div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
   <li>
        <i class="fa fa-home" aria-hidden="true"></i>
        <a href="/">
            Home
        </a>
    </li>
    <li>
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        <a href="/jobs">
         Jobs
       </a>
      
  </li>  
        <% if user_signed_in? %>
        <li>
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <%= link_to(current_user.email, edit_user_registration_path) %>
        </li>
        <li>
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
        </li>
        <% else %>
        <li>
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        <%= link_to('Login', new_user_session_path) %>  
        </li>
        <li>
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        <%= link_to('Register', new_user_registration_path) %>
        </li>
        <% end %>
                    </ul>
            </div>
        </div>
    <% end %>
<% end %>